.car-item {
  padding: 20px 15px;

  &__title {
    border-bottom: 1px solid #e3e4e5;
    color: #1e2a32;
    font-size: 17px;
    padding: 20px 0 8px;
  }

  &__img {
    display: flex;
    align-items: center;

    @media (min-width: 768px) {
      height: 105px;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      margin: 0;
    }
  }

  &.col-xs-12.col-sm-6 img {
    width: auto;
  }

  &__service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    padding: 10px 0;

    &:not(:last-child) {
      border-bottom: 1px solid #e3e4e5;
    }

    &__container {
      display: flex;

      > * {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        background: #f0f0f0;
        border-radius: 50%;
        cursor: pointer;
        transition: background 100ms linear;

        &:hover {
          background: #DADADA;
        }
      }

      a {
        &:after {
          content: '';
          width: 16px;
          height: 10px;
          background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAKCAMAAACKYC6uAAAAPFBMVEVra2tra2tra2tra2tra2tra2tra2tra2tra2tra2tra2tra2tra2tra2tra2tra2tra2tra2tra2tra2v54cVVAAAAE3RSTlMACgscJChJfaChoqOqr7/Y5OfpuxFchQAAAFhJREFUeNpljkESgCAMA9tKURRQu///q8PAzdySmU0iQ7m+8NYsU1uHuK6Avg2fHmjmbg2eJGI3hB1wWMBtsgOnA/gJ7L9gIjoQncgsVXddpWu2lDX7O/YBQVIGxeeY0DMAAAAASUVORK5CYII=);
        }
      }

      i {
        margin-left: 6px;

        &:after {
          content: '';
          width: 13px;
          height: 9px;
          background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJCAQAAABDc27hAAAAp0lEQVQI102PPQrCQBCFV68iFlZeJFh4jfeuYKHVRkURJEh+TIiVteBF7LTzAIlWKiSsmewi8pg38/immFHQ+MCI2JbzF2cKtV/M78km06K0qf1qeWPJt4KJtzziioFRIvR5wXmX0SiaeM0OJ3jAa9KIJaboRgEskm2O8eSJBT1JLYJDDRwiR8/OUUBBiUP/CgWxDiO5LNXWbQ8OqBQWuqL7Cr+uK/hf4qOIZw/S3DEAAAAASUVORK5CYII=);
        }

        &.isActive {
          background: #000;

          &:after {
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJCAQAAABDc27hAAAAf0lEQVQI123POw4BARhF4Z+tiEJlIxOF/SioRiREItNohEotsREdnQV4VEhm8mmMjMc9zU1Oc29IPfzmZhAKJ0dT6Zuxg7N7YGZtryWE0LSztSAwUdNzkQgdZ311WalC6LraOEmE+FShbanx6l+qSkYozCvrSlbyMJL/+ZUbPgEUKriL67/w0wAAAABJRU5ErkJggg==);;
          }
        }
      }
    }
  }
}
