.warm-section {
  background: #fffaf0;
  padding-bottom: 60px;
}

.sub-title {
  font-size: 18px;
  line-height: 1.5;
  max-width: 720px;
  margin: auto;
  text-align: center;
  padding-bottom: 52px;
}

.pb30 {
  padding-bottom: 30px;
}
