$default-font: 'Roboto', sans-serif;

$border-radius: 3px;

$input-border-color: #b3b3b3;
$input-border-color-error: red;

$button-color: #fbb03b;
$button-color-hover: #fc9b27;
$button-color-active: #fcb75b;

$link-color: #0073e2;
$link-color-hover: #00a99d;
$link-color-active: #026bc1;
