@import '../../styles/partials/theme.scss';

.task-bar {
  display: flex;
  height: 125px;
  width: 100%;
  border-bottom: 1px solid #C5C5C5;

  &_total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 200px;

    &_big {
      font: 700 38px/1 "Roboto", sans-serif;
      padding-bottom: 5px;
    }

    &_small {
      color: #999999;
    }
  }

  &_add {
    display: flex;
    align-items: center;
    width: 320px;
    margin-left: 20px;

    &_icon {
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: $default-parts-color;
      transition: background $default-transition;

      &:after, &:before {
        position: absolute;
        content: '';
        background: #fff;
        top: 50%;
        left:  50%;
        transform: translate(-50%, -50%);
      }

      &:after {
        width: calc(50% - 2px);
        height: 2px;
      }

      &:before {
        width: 2px;
        height: calc(50% - 2px);
      }
    }

    &_item {
      display: flex;
      align-items: center;
      cursor: pointer;

      &:not(:first-child) {
        margin-left: 40px;
      }

      span {
        margin-left: 15px;
        font-size: 18px;
        color: $link-color;
        text-decoration: underline;
        transition: color $default-transition;
      }

      &:hover {
        .task-bar_add_icon {
          background: $default-parts-hover;
        }

        span {
          color: $link-color-hover;
        }
      }

      &:active {
        .task-bar_add_icon {
          background: $default-parts-active;
        }

        span {
          color: $link-color-active;
        }
      }
    }
  }

  &_log {
    align-self: center;
    background: #f2f2f2;
    font-size: 11px;
    color: #999999;
    margin-left: auto;
    margin-right: 20px;
    padding: 5px 10px;
    border-radius: 4px;

    &_item {
      padding: 5px 0;
    }
  }

  &_counter {
    text-align: center;
  }
}

