<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--<link rel="stylesheet"-->
        <!--href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">-->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/antd/3.0.3/antd.min.css" rel="stylesheet">
  <!-- @todo сделать подгрузку компонентов типа modal.scss -->
  <title>App</title>
</head>
<body>
<div id="app"></div>
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDaiBCmMrcHcqn3s8v2xD42Fb0Lb2qo-eI&libraries=places"></script>
</body>
</html>
