@import '../../styles/partials/theme.scss';

.nav {
  display: flex;
  align-items: center;
  height: 83px;
  border-bottom: 3px solid $default-parts-color;
  padding: 15px 25px;
  background: #fff;

  &_item {
    margin: 0 15px;
    text-decoration: none;
    transition: color $default-transition;
    color: #000;
    font-size: 18px;


    &:not(.active) {
      cursor: pointer;

      &:hover {
        color: $default-parts-color;
        //text-decoration: underline;
      }
    }

    &.active {
      color: $default-parts-color;
    }

    &.log-out {
      color: #999999;
    }
  }

  @at-root {
    &-logo {//
      font-size: 24px;
      margin: 0 15px;
      color: #000;
      text-decoration: none;

      &:hover {
        color: #000;
      }
    }
  }

  &_account {
    margin-left: auto;
  }

  &_user {
    display: flex;
    align-items: center;

    &_profile {
      display: flex;
      align-items: center;
      margin-right: 15px;
      cursor: pointer;
      transition: color $default-transition;

      &:hover {
        color: $link-color-hover;
      }

      img {
        width: 40px;
        height: 40px;
        margin-right: 15px;
        border-radius: $border-radius;
      }
    }
  }
}
